html {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgb(217, 204, 183);
    font-family: Helvetica ;
}


h1 {
    color: rgb(245, 245, 245);
    text-align: center;
}

#p_url {
    margin: 3% 0% 1% 0%;
    color: rgb(55, 52, 42);
    text-align: center;
}

#form_div {
    text-align: center;
}

input {
    padding: 0.3%;
    margin: 5px;
    background: rgb(245, 245, 245);
    font: 13px sans-serif;
    width: 33%;
    border: 0;

}
button {
    width: 7%;
    margin: 5px 1% 5px 1%;
    padding: 0.3%;
    border: 0;
    
}
button:active {
    background-color: whitesmoke;
}

#img_div {
    margin-top: 2.5%;
    height: 55vh;

}
img {
    height: 95%;
}
#res_div{
    margin-top: 2%;
}
.res_button {
    margin: 5px 0.5% 5px 0.5%;
}